<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Gestión de Cafetería</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
</head>
<body style="background-image: url('{{ url_for('static', filename='Fondo_Home.jpg') }}');
             background-size: cover;
             background-position: center;
             background-repeat: no-repeat;">
    <div class="container text-center mt-5 text-white">
        <h1 class="mb-4">☕ Cafetería UNAB 2026</h1>
        <div class="d-grid gap-3 col-6 mx-auto">
            <a href="/inventario" class="btn btn-primary btn-lg">Inventario</a>
            <a href="/ventas" class="btn btn-success btn-lg">Realizar Venta</a>
            <a href="/reportes" class="btn btn-info btn-lg">Generar Reporte</a>
        </div>
    </div>
</body>

</html>

